{% extends 'App1/padre.html'%}
{% load static %}

{% block tituloPrincipal%}
<h1 ><a href="{% url 'Cursos' %}" style="color:#000000">Cursos</a></h1>
{% endblock%}

{% block bloquePrincipal%}
{% endblock %}

{% block bloqueFormulario%}
 
 <section class="contact section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Alta de Curso</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          {% if mensaje %}
            <div class="my-3">
            <div class="sent-message" style="color:#ffffff;background-color:goldenrod;padding:10px;">
                {{ mensaje}}
            </div>
        </div>
        {% endif %}

          <form action="/app1/cursos/" method="post" role="form" class="php-email-form">
            <div class="form-group">
                {{ formulario.nombre }}
            </div>
            <div class="form-group mt-3">
                {{ formulario.numero }}
            </div>
            <div class="form-group mt-3">
                {{ formulario.detalle }}
            </div>
            <div class="my-3">
              <div class="loading">Cargando</div>
              <div class="error-message"></div>
              <div class="sent-message">El curso se ingresó con éxito. Gracias!</div>
            </div>
            <div class="text-center">
                {% csrf_token %}
                <button type="submit">Ingresar Curso</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>
{% endblock%}

{% block bloqueListado%} 
<section class="faq">
    <div class="container">
      <div class="section-title">
        <h2>Listado de Cursos ({{ cantidad }})</h2>
      </div>
      <ul class="faq-list">
        {% for curso in cursos %}
        <li>
          <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq{{ curso.id }}">{{ curso.nombre }} - Nº {{ curso.camada }} <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq{{ curso.id }}" class="collapse" data-bs-parent=".faq-list">
            <p>
                {{ curso.detalle }}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock%}