{% extends 'App1/padre.html'%}
{% load static %}

{% block tituloPrincipal%}
<h1><a href="{% url 'Home' %}">Inicio</a></h1>
{% endblock%}

{% block bloquePrincipal%}
<section id="hero">
    <div class="hero-container">
    <h1>Buscador de Cursos</h1>
      <h2>Por favor, ingresa el nombre del Curso.</h2>
      <form action="" method="post" role="form" class="php-email-form">
        <div class="row no-gutters">
          <div class="col-md-12 form-group ">
            {% csrf_token %}
            {{ formulario.nombre_curso }}
          </div>
          
        </div>
        <div class="text-center"><button type="submit">Buscar Ahora!!</button></div>
      </form>
    </div>
</section>
{% endblock%}

{% block bloqueListado%} 

{% if busqueda %}
<section class="faq">
    <div class="container">
      <div class="section-title">
        <h2>Resultados de tu Búsqueda ({{ cantidad }})</h2>
      </div>
      <ul class="faq-list">
        {% for curso in cursos %}
        <li>
          <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq{{ curso.id }}">{{ curso.nombre }} - Nº {{ curso.camada }} <i class="bx bx-down-arrow-alt icon-show"></i><i class="bx bx-x icon-close"></i></a>
          <div id="faq{{ curso.id }}" class="collapse" data-bs-parent=".faq-list">
            <p>
                {{ curso.detalle }}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}
{% endblock%}